body {
  font-size: 120%; 
  padding: 0;
  margin: 0;
}

main {
  display: block;
  box-sizing: border-box;
  width: 90%;
  margin: 1em auto;
  padding: 1em;
  color: #000;
  background-color: rgba(255,255,255,.25);
  border: .07em solid rgba(0,0,0,.5);
  border-radius: .5em;
}

a { color: #009; }

/* The fully-expanded menu is just over 23em, so this will show another menu up to that width or height. */

@media (max-width:23em), (max-height:22em) {

nav1 {
  /*border: 1px dotted #f00;*/
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #000;
}

nav1::after {
  content: "";
  display: block;
  clear: both;
}

nav1 h1 { display: none; }

nav1 ol,
nav1 li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav1 ol ol { display: none; }

nav1 a {
  display: block;
  box-sizing: border-box;
  width: 50%;
  float: left;
  margin: 0;
  padding: 1em 0;
  text-align: center;
  color: #fff;
  background-color: #000;
  text-decoration: none;
  outline: none;
  border: .07em solid #333;
}

nav1 li:hover a,
nav1 li:focus a,
nav1 li.focus a {
  background-color: #222;
  outline: none;
}

nav1>ol>li a[aria-label^="Current"],
nav1>ol>li:hover a[aria-label^="Current"],
nav1>ol>li:focus a[aria-label^="Current"] { color: #444; }
}

/* Short, wide display */

@media (min-width:23em) and (max-height:22em) {

nav1 a { width: 33.333%; }
}

/* Short, wider display */

@media (min-width:32em) and (max-height:22em) {

nav1 a { width: 25%; }
}

/* Short, wider display */

@media (min-width:40em) and (max-height:22em) {

nav1 a { width: 20%; }
}

/* Short, even wider display */

@media (min-width:48em) and (max-height:22em) {

nav1 a { width: 16.666667%; }
}

/* The screen is now wide and tall enough to show the entire menu without cutting anything off. */

@media (min-width:23em) and (max-width:1800px) and (min-height:22em) {

nav1 {
  /*border: 1px dotted #f00;*/
  box-sizing: border-box;
  position: fixed;
  top: 0;
  right: 0;
  padding: 0;
  border-radius: 0 0 0 100%;
  width: 2em;
  height: 2em;
  /*overflow: hidden;*/
  transition: all .25s ease-in;
}

nav1:hover,
nav1:focus,
nav1.focus {
  background-color: rgba(0, 0, 0, 0.4);
  width: 18em;
  height: 17em;
  outline: none;
}

nav1 h1 {
  box-sizing: border-box;
  font-size: 100%;
  text-transform: uppercase;
  font-weight: normal;
  /*border: 1px dotted yellow;*/
  position: fixed;
  top: 0;
  color: white;
  right: 0;
  margin: 0;
  padding: 1em .5em 2.3em 1.8em;
  border-left: .5em solid #fff;
  border-bottom: .05em solid #fff;
  background-color: rgba(156, 39, 176, 1);
  border-radius: 0 0 0 100%;
  z-index: 50;
}

nav1 ol,
nav1 li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav1 li { position: absolute; }

nav1 li,
nav1 a {
  display: block;
  box-sizing: border-box;
  /*position: absolute;*/
	/*position: relative;*/
  top: -5em;
  right: -5em;
  /*border: 1px dotted #f00;*/
  transition: all 0.2s ease-in;
}

nav1 a {
  border-radius: 100%;
  border: .15em solid rgba(220, 0, 255, 0.61);
  padding: 1.5em 0;
  margin-top: -5px;
  width: 4.5em;
  height: 4.5em;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 0 1.5em rgba(156, 39, 176, 0.2);
  color: #fff;
  background-color: #000;
  text-decoration: none;
  outline: none;
}

nav1>ol>li,
nav1>ol>li>a { /* So the first tier sits on top of the second tier disk */ z-index: 10; }

nav1 li:hover a,
nav1 li:focus a,
nav1 li.focus a {
  background-color: rgba(156, 39, 176, 1);
  box-shadow: 0 0 1.5em rgba(0, 0, 0, 1);
  outline: none;
  position: relative;
  left: 0;
  color: #fff;
  top: auto;/*z-index: 25;*/
  animation: animate 2s ease-in-out 0s infinite;
}

nav1>ol>li:hover,
nav1>ol>li:focus,
nav1>ol>li.focus { /* Keep this to make sure only the current item appears above the disc. */ z-index: 25; }

/* Just hide anything beyond 5*/
  


nav1>ol>li:nth-child(n+6) { display: none; }

/* Positioning the first tier/ constellation */

nav1:hover>ol>li:nth-child(1),
nav1:focus>ol>li:nth-child(1),
nav1.focus>ol>li:nth-child(1) {
  right: 13.5em;
  top: .2em;
}

nav1:hover>ol>li:nth-child(2),
nav1:focus>ol>li:nth-child(2),
nav1.focus>ol>li:nth-child(2) {
  right: 12em;
  top: 4.75em;
}

nav1:hover>ol>li:nth-child(3),
nav1:focus>ol>li:nth-child(3),
nav1.focus>ol>li:nth-child(3) {
  right: 9.0em;
  top: 8.5em;
}

nav1:hover>ol>li:nth-child(4),
nav1:focus>ol>li:nth-child(4),
nav1.focus>ol>li:nth-child(4) {
  right: 5em;
  top: 11.25em;
}

nav1:hover>ol>li:nth-child(5),
nav1:focus>ol>li:nth-child(5),
nav1.focus>ol>li:nth-child(5) {
  right: .4em;
  top: 12.5em;
}

/* Positioning the second tier */
  
nav1>ol>li>ol {
  background-color: rgba(0, 0, 0, 0);
  width: 0;
  height: 0;
  display: block;
  position: absolute;
  border-radius: 100%;
  transition: all .2s ease-in;
  left: 2.25em;
  top: 2.25em;
  left: 0;
  top: 0;/*z-index: 1;*//*border: 1px dotted yellow;*/
}

nav1>ol>li:hover>ol,
nav1>ol>li:focus>ol,
nav1>ol>li.focus>ol {
  width: 15em;
  height: 15em;
  /*z-index: 1;*/
	/*top: -4.75;
	left: -4.75;*/
  margin-top: -5.25em;
  margin-left: -5.25em;
  background-color: rgba(156, 39, 176, 0.5);
}

nav1>ol>li>ol>li,
nav1>ol>li>ol>li a {
  position: absolute;
  /*border-color: #99f;*/
  transition: all .2s ease-in;
  top: 0;
  left: 0;/*z-index: 1;*//*left: 4.5em;
	top: 0;*/
}

nav1>ol>li>ol>li a {
  border-color: #f60;
  box-shadow: none;
  transition: all .2s ease-in;
  display: none;
}

nav1>ol>li:hover>ol>li,
nav1>ol>li:focus>ol>li,
nav1>ol>li.focus>ol>li { /*box-shadow: 0 0 1.5em rgba(50, 50, 50, 0.75);*/ z-index: 5; }

nav1>ol>li:hover>ol>li a,
nav1>ol>li:focus>ol>li a,
nav1>ol>li.focus>ol>li a {
  background-color: #000;
  box-shadow: none;
  z-index: 5;
  display: block;
}

nav1>ol>li>ol>li a:hover,
nav1>ol>li>ol>li a:focus {
  background-color: #222;
  box-shadow: 0 0 1.5em rgba(0, 0, 0, 1);
}

/* Position individual items */

nav1>ol>li:hover>ol>li:nth-child(1),
nav1>ol>li:focus>ol>li:nth-child(1),
nav1>ol>li.focus>ol>li:nth-child(1),
nav1>ol>li:nth-child(5):hover>ol>li:nth-child(4),
nav1>ol>li:nth-child(5):focus>ol>li:nth-child(4),
nav1>ol>li:nth-child(5).focus>ol>li:nth-child(4) {
  left: 2.75em;
  top: 1em;
}

nav1>ol>li:hover>ol>li:nth-child(2),
nav1>ol>li:focus>ol>li:nth-child(2),
nav1>ol>li.focus>ol>li:nth-child(2) {
  left: 7.75em;
  top: 1em;
}

nav1>ol>li:hover>ol>li:nth-child(3),
nav1>ol>li:focus>ol>li:nth-child(3),
nav1>ol>li.focus>ol>li:nth-child(3),
nav1>ol>li:nth-child(1):hover>ol>li:nth-child(1),
nav1>ol>li:nth-child(1):focus>ol>li:nth-child(1),
nav1>ol>li:nth-child(1).focus>ol>li:nth-child(1) {
  left: 10.25em;
  top: 5.25em;
}

nav1>ol>li:hover>ol>li:nth-child(4),
nav1>ol>li:focus>ol>li:nth-child(4),
nav1>ol>li.focus>ol>li:nth-child(4),
nav1>ol>li:nth-child(1):hover>ol>li:nth-child(2),
nav1>ol>li:nth-child(1):focus>ol>li:nth-child(2),
nav1>ol>li:nth-child(1).focus>ol>li:nth-child(2) {
  left: 7.75em;
  top: 9.5em;
}

nav1>ol>li:hover>ol>li:nth-child(5),
nav1>ol>li:focus>ol>li:nth-child(5),
nav1>ol>li.focus>ol>li:nth-child(5),
nav1>ol>li:nth-child(1):hover>ol>li:nth-child(3),
nav1>ol>li:nth-child(1):focus>ol>li:nth-child(3),
nav1>ol>li:nth-child(1).focus>ol>li:nth-child(3),
nav1>ol>li:nth-child(5):hover>ol>li:nth-child(1),
nav1>ol>li:nth-child(5):focus>ol>li:nth-child(1),
nav1>ol>li:nth-child(5).focus>ol>li:nth-child(1) {
  left: 2.75em;
  top: 9.5em;
}

nav1>ol>li:hover>ol>li:nth-child(6),
nav1>ol>li:focus>ol>li:nth-child(6),
nav1>ol>li.focus>ol>li:nth-child(6),
nav1>ol>li:nth-child(1):hover>ol>li:nth-child(4),
nav1>ol>li:nth-child(1):focus>ol>li:nth-child(4),
nav1>ol>li:nth-child(1).focus>ol>li:nth-child(4),
nav1>ol>li:nth-child(5):hover>ol>li:nth-child(2),
nav1>ol>li:nth-child(5):focus>ol>li:nth-child(2),
nav1>ol>li:nth-child(5).focus>ol>li:nth-child(2) {
  left: .25em;
  top: 5.25em;
}

/* Just hide anything beyond 6. */



nav1>ol>li>ol>li:nth-child(n+7),
nav1>ol>li:hover>ol>li:nth-child(n+7),
nav1>ol>li:focus>ol>li:nth-child(n+7),
nav1>ol>li.focus>ol>li:nth-child(n+7) {  }

/* Hide from 5 items and up on the first  star constellation / first menu. */
  


nav1>ol>li:nth-child(1):hover>ol>li:nth-child(n+7),
nav1>ol>li:nth-child(1):focus>ol>li:nth-child(n+7),
nav1>ol>li:nth-child(1).focus>ol>li:nth-child(n+7) { display: none; }

/* Hide from 7 items and up on the second star constellation / last menu.*/
  


nav1>ol>li:nth-child(7):hover>ol>li:nth-child(n+6),
nav1>ol>li:nth-child(7):focus>ol>li:nth-child(n+6),
nav1>ol>li:nth-child(7).focus>ol>li:nth-child(n+6) { display: none; }

/* Style links that are current page/section. */
  


nav1>ol>li a[aria-label^="Current"],
nav1>ol>li:hover a[aria-label^="Current"],
nav1>ol>li:focus a[aria-label^="Current"] {
  color: #666;
  border-color: #999;
}
}
 @media screen and (-ms-high-contrast: active) {

nav1>ol>li a[aria-label^="Current"],
nav1>ol>li:hover a[aria-label^="Current"],
nav1>ol>li:focus a[aria-label^="Current"] { background-color: #00c; }
}

.animate1 {
  -webkit-animation:ripple 0.8s linear;
   -moz-animation:ripple 0.8s linear;
    -ms-animation:ripple 0.8s linear;
     -o-animation:ripple 0.8s linear;
        animation:ripple 0.8s cubic-bezier(0.22, 0.61, 0.36, 1) 15;
}
